@use "../../core-controllers/base/reset" as *;

// css reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// make 1rem = 10px
html {
  font-size: 62.5%;
}

// default headers font-size
@for $i from 1 through 5 {
  h#{$i} {
    font-size: #{default-header-font-size}rem;
    font-weight: 400;
  }
  $default-header-font-size: $default-header-font-size / 1.2;
}

a {
  list-style: none;
}
